@page "/"
@inject NavigationManager navigation
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Forms

<PageTitle>Fantasy Football Cheat Codes</PageTitle>

<h1>Your Best Draft is Here</h1>

<p>The draft clock ticks toward zero. You have seconds to assess your options, predict what your opponents will do, and assemble the best possible team with the limited picks and resources you have. 
    But this year is different because you have Fantasy Football Cheat Codes at your side. Before the draft even begins, you know which players to target, in which round or price range, and which players to avoid. 
    When the time comes, you are not scrambling to decide. Each player and pick has already been assessed as part of a point-maximizing strategy and you are now monitoring which scenario plays out
    and pulling the trigger when the right opportunity presents itself. While your opponents overpay and are left with uncertainty and regret, you will build a roster of true impact players at great value. 
    Your path to the playoffs starts now!</p>

<br />

<h3>Get Started</h3>

<p>Choose your league provider to continue:</p>

<button id="espn"  @onclick="@( () => navigation.NavigateTo($"EnterEspnLeagueInformation"))"></button>
<button id="yahoo" @onclick="@( () => navigation.NavigateTo($"EnterYahooLeagueInformation"))"></button>
<button id="nfl" @onclick="@( () => navigation.NavigateTo($"EnterNflLeagueInformation"))"></button>
<button id="cbs" @onclick="@( () => navigation.NavigateTo($"EnterCbsLeagueInformation"))"></button>