@page "/"
@inject NavigationManager navigation
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Forms

<PageTitle>Fantasy Football Cheat Codes</PageTitle>

<h1>Fantasy Football Cheat Codes</h1>

<p>Choose your league type to continue:</p>

@*<a id="espn" href="EnterLeagueInformation">
    <img class="provider-logo" src="images/espn-logo.jpeg" />
</a>*@

<button id="espn"  @onclick="@( () => navigation.NavigateTo($"EnterLeagueInformation"))"></button>