@page "/Loading"

<PageTitle>Loading</PageTitle>

<h1>Loading...</h1>
<br />
<h3>***@stat***</h3>
<br />
<p>@text</p>
<br />
<img id="loading-image" src="@imagePath"/>
<p>Photo Credit: @photoCredit</p>

@code {
    public int id =0;
    public string imagePath = "";
    public string stat = "";
    public string text = "";
    public string photoCredit = "";

    public Dictionary<int, string> textOptions = new()
    {
        {0,"49.3;In Week 10 of the 2010 season on Monday Night Football, Philadelphia's Michael Vick scored an all-time fantasy QB record of 49.3 points. He threw for 333 yards and 4 touchdowns, adding 80 yards and 2 touchdowns on the ground.;Ed Yourdon (https://www.flickr.com/photos/72098626@N00)"},
    };

    protected override void OnParametersSet()
    {
        int imageCount = Directory.GetFiles(@"wwwroot/images/loading").Length;
        if (imageCount > 0)
        {
            id = new Random().Next(imageCount);
            imagePath = $"images/loading/{id.ToString()}.jpg";

            string[] fullText = textOptions[id].Split(";");
            if (fullText != null && fullText.Length == 3)
            {
                stat = fullText[0];
                text = fullText[1];
                photoCredit = fullText[2];
            }
        }   

        base.OnParametersSet();
    }
}
